* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./utilities/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

/* navigation bar rules */
nav {
    display: flex;
    flex-direction: row;
    width: 95%;
    padding-left: 2%;
    padding-right: 2%;
    border: 1px solid black;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 3;
}

.branding-navigation {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;

}

.branding {
    height: 100px;
    width: 250px;
    overflow: hidden;
}

.branding img {
    height: 100%;
    width: 100%;
}

.tabContainer {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: -5%;
}

.tabContainer ul {
    width: 80%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-size: larger;
    font-weight: 2px;
}

.tabContainer ul li a {
    border-radius: 5px;
    padding: 10px;
    line-height: 10px;
    text-decoration: none;
    color: rgb(58, 58, 58);

}

.tabContainer ul li a:hover {
    background-color: rgb(215, 215, 215);
    box-shadow: 0px 10px 13px 4px rgba(0, 0, 0, 0.2);

    transition: 0.5s ease-in-out;
}

/* this is an supproting extra tab container to achive responsivness */
#navTabs {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: -5%;
    display: none;
}

#navTabs ul {
    width: 80%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-size: larger;
    font-weight: 2px;
}

#navTabs ul li a {
    border-radius: 5px;
    padding: 10px;
    line-height: 10px;
    text-decoration: none;
    color: rgb(58, 58, 58);

}

#navTabs ul li a:hover {
    background-color: rgb(215, 215, 215);
    box-shadow: 0px 10px 13px 4px rgba(0, 0, 0, 0.2);

    transition: 0.5s ease-in-out;
}

.hamburger {
    padding: 24px;
    display: none !important;
}

/* text input area rules */
.searchFormContainer {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;

}

.searchForm {
    width: 90%;
    display: flex;
}

.searchForm input[type=text] {
    height: 2rem;
    width: 70%;
    border-radius: 22px 0px 0px 22px;
    border: 1px solid grey;
    padding-left: 20px;
    outline: none;
    font-size: large;
    color: grey;
}

.searchForm input[type=button] {
    height: 2rem;
    width: 100px;
    box-sizing: content-box;
    cursor: pointer;
    border-radius: 0px 22px 22px 0px;
    border: 1px solid grey;
    background-color: white;
    font-size: large;
    color: grey;
}



.searchForm input[type=button]:hover {
    background-color: rgb(215, 215, 215);
    transition: 0.5s ease-in-out;
    box-shadow: 0px 9px 6px 1px rgba(0, 0, 0, 0.2);

}

/* meal seaction start here for Home page*/
.mealResultSection {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchResultDesc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 100px;
    box-sizing: border-box;
    font-weight: bolder;
    height: 40px;
    width: 100%;
}

.searchText {
    font-style: italic;
}

#mealCardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    width: 95%;
}

.mealCard {
    height: 300px;
    width: 300px;
    margin: 5px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
}

.mealThumb {
    width: 100%;
    margin: 0px;
    z-index: 1;
    transition: 0.5s;

}

.mealThumb:hover {
    transform: scale(1.2);
}

.smallHeight {
    height: 250px;
}

.fullHeight {
    height: 300px;

}

.mealDesc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    margin: 0px;
    z-index: 2;
}

.mealDesc p {
    display: inline-block;
    line-height: 18px;
    margin-left: 5px;
    max-width: 200px;
    overflow: hidden;
}

.favoriteButtonContainer {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    position: relative;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(rgb(246, 246, 246), rgb(192, 191, 191));
}

.favoriteButtonContainer input {
    position: absolute;
    z-index: 1;
    border: none;
    background: none;
    opacity: 0;
}

.favoriteButtonContainer i {
    position: absolute;
    z-index: 2;
    font-size: 30px;
    color: grey;
    transition: 0.3s ease-in-out;
}

.checked {
    color: red;

}

.totalMealsCounter {
    font-size: large;
    display: flex;
    align-items: center;

}

/* meal seaction start here for My Favorite Page*/
#favoriteMealsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.favMealCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 5px;
    transition: 1s;

}

.favMealCard:hover {
    background: linear-gradient(to bottom right, rgba(179, 144, 78, 0.5), rgba(185, 164, 125, 0.5));

}

.mealThumbAndDescContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
}

.mealThumbContainer {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 30px;
}

.mealDescContainer {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px;
}

.mealDescContainer p {
    display: inline-block;
    height: 222px;
    margin: 8px;
    overflow: hidden;
}

.mealDescContainer button {
    background: linear-gradient(to bottom right, #d4145e, #fb613b);
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: large;
    margin: 5px;
    transition: 0.3s ease-in-out;
}

.mealDescContainer button:hover {
    box-shadow: -3px 4px 7px 4px rgba(69, 67, 67, 0.5);

}

/* meal seaction start here for Meal Detail Page*/
#mealDetailContainer {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
}

.thumbAndIngredientContainer {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mealPreview {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 14px 9px rgba(186, 181, 181, 0.5);
    box-sizing: border-box;
}

.mealPreview img {
    width: 100%;
    height: 100%;

}

.ingredientContainer {
    width: 66%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;

}

.ingredients {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.ingredients div {
    height: 15px;
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    transition: 0.2s ease-in-out;
    padding: 5px;
}

.ingredients div:hover {
    cursor: pointer;
    background: linear-gradient(to right, #9c7c5e, #cfa57d);

}

.ingredients p {
    margin: 0px;
    line-height: 5px;
}

.ingredients span {
    margin-left: 20px;
}

.instructionContainer {
    width: 95%;
    padding: 10px;
}

/* Combined media query defined here for all three web pages*/
@media screen and (max-width:1500px) {
    .mealResultSection {
        width: 98%;
    }
}

@media screen and (max-width:1040px) {
    .hamburger {
        display: block !important;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    .tabContainer {
        display: none;
    }

    .branding-navigation {
        width: 98%;
    }

    .branding-navigation a {
        text-decoration: none;
        color: grey;
    }

    .searchFormContainer {
        justify-content: center;
    }

    #navTabs {
        display: flex;
        justify-content: center;
    }

    #navTabs ul {
        flex-direction: column;
        align-items: center;
    }

    #navTabs ul li a {
        line-height: 44px;

    }

    #favoriteMealsContainer {
        width: 98%;
    }

    .favMealCard {
        width: 98%;
    }

    .favMealCard {
        flex-direction: column;
        align-items: center;
    }

    .mealDescContainer {
        align-items: center;
    }

    .mealDescContainer p {
        display: none;
    }

    .mealThumbAndDescContainer {
        flex-direction: column;
    }

    .thumbAndIngredientContainer {
        flex-direction: column;
        align-items: center;
    }

    .ingredientContainer {
        width: 95%;
        margin-left: 0;
        margin: 10px;
    }

    .ingredients {
        height: auto;
        align-items: center;
    }

}

@media screen and (max-width:656px) {
    .searchFormContainer {
        width: 98%;
    }
}